* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(120, 220, 120, 0.45);
    position: absolute;
    border: 2px solid whitesmoke;
}

section {
    margin: 5px;
    color: white;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

body {
    height: 100vh;
    border: 0;
}

.disable {
    display: none;
}

.control {
    display: flex;
    flex-direction: column;
}

.control > span {
    padding: 2px;
}