* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    height: 32px;
}

span {
    margin-top: 5px;
    color: white;
}

canvas {
    border-top: 2px solid whitesmoke;
}

body {
    height: 99vh;
}